// Local var
$paddingSides: 11.5%
$paddingTop: 4%
$paddingBottom: 9%


.header
  position: relative

  &__back-img
    width: 100%
    height: auto

    &--desktop
    &--mobile
      display: none

  &__wrapper
    position: absolute
    top: 0
    left: 0

    width: 100%
    height: 100%

    display: grid
    grid-template-columns: repeat(2, auto)
    grid-template-rows: repeat(2, auto)

    box-sizing: border-box

    padding-top: $paddingTop
    padding-right: $paddingSides 
    padding-left: $paddingSides 
    padding-bottom: $paddingBottom

  &__logo

  &__navmenu
    display: flex
    justify-content: flex-end
    color: $colorWhite

  &__ul
    position: relative

    width: 100%
    max-width: 400px

    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

  &__list
    cursor: pointer

    &--hover
      width: 30px

      display: block
      margin: 10px auto 2px

      border-bottom: 2px solid $colorWhite
      
      opacity: 0
      transition: opacity 450ms linear

    &:hover
      & .header__list--hover
        opacity: 1

  &__tagline
    max-width: 566px

    grid-column: 1 / 3
    place-self: flex-end flex-start

    padding: 40px

    border: 2px solid $colorWhite

    color: $colorWhite
    text-transform: uppercase
    font-family: $fontJosefin
    font-weight: 300
    font-size: 70px


@media ( max-width: 1240px )
  .header__tagline
    max-width: 400px
    padding: 30px
    font-size: 50px
  
@media ( max-width: 1024px )
  .header__tagline
    max-width: 280px
    padding: 20px
    font-size: 36px
  

@media ( max-width: 768px )
  .header__ul
    display: none
  
  #menu__toggle
    opacity: 0

  #menu__toggle:checked ~ .menu__btn > span
    transform: rotate(45deg)

  #menu__toggle:checked ~ .menu__btn > span::before
    top: 0
    transform: rotate(0)

  #menu__toggle:checked ~ .menu__btn > span::after
    top: 0
    transform: rotate(90deg)

  #menu__toggle:checked ~ .menu__box
    visibility: visible
    right: 0


  .menu__btn
    display: flex
    align-items: center
    position: absolute
    top: 0px
    right: 0px

    width: 26px
    height: 26px

    cursor: pointer
    z-index: 1


  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after
    display: block
    position: absolute

    width: 100%
    height: 2px

    background-color: white

    transition-duration: .25s

  .menu__btn > span::before
    content: ''
    top: -8px

  .menu__btn > span::after
    content: ''
    top: 8px

  .header__hamburger
    position: relative

  .menu__box
    display: block
    position: absolute
    visibility: visible
    top: 0
    right: -300px

    width: 200px
    height: 100px

    margin: 0
    padding: 30px 0 0

    list-style: none

    background-color: #242424

    transition-duration: .25s


  .menu__item
    display: block
    // padding: 12px 24px

    color: #ffffff

    font-family: 'Roboto', sans-serif
    font-size: 20px
    font-weight: 600

    text-decoration: none

    // transition-duration: .25s

  .menu__item:hover
    background-color: #CFD8DC


