@import variables


*
  margin: 0
  padding: 0
  text-decoration: none
  list-style: none

html
  font-family: $fontAlata
  font-size: $fontSize


//develop
body
  width: 100%
  max-width: 1440px

  margin: 0px auto

//develop


@import header
@import main
@import footer


.attribution
  // display: none
  font-size: .73rem
  text-align: center

  & a
    color: hsl(228, 45%, 44%)