#main
  display: flex
  flex-direction: column

  padding-top: 8%
  padding-right: $paddingSides
  padding-left: $paddingSides
  padding-bottom: $paddingBottom

.interactive
  display: grid
  grid-template-columns: 570fr 160fr 390fr
  grid-template-rows: 180fr 320fr

  box-sizing: border-box

  &__img
    width: 100%
    height: auto

    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 3

    z-index: 1

  &__container
    grid-column-start: 2
    grid-column-end: 4
    grid-row-start: 2
    grid-row-end: 3

    padding-top: 7vw
    padding-left: 7vw

    box-sizing: border-box

    background-color: $colorWhite

    z-index: 3

  &__header
    font-family: $fontJosefin
    font-weight: 300
    font-size: 3.2vw
    text-transform: uppercase
    
  &__body
    position: relative
    margin-top: 32px
    color: $colorDarkGray
    font-size: 1vw