<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./images/favicon-32x32.png').default %>">
  
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header id="header" class="header">
    <img class="header__back-img header__back-img--desktop" src="<%= require('./images/desktop/image-hero.jpg').default %>">
    <img class="header__back-img header__back-img--mobile" src="<%= require('./images/mobile/image-hero.jpg').default %>">

    <div class="header__wrapper">
      <div class="header__logo"><img src="<%= require('./images/logo.svg').default %>" alt="logo loopstudios"></div>
      <nav class="header__navmenu">
        <ul class="header__ul">
          <li class="header__list">About <span class="header__list--hover"></span></li>
          <li class="header__list">Careers <span class="header__list--hover"></span></li>
          <li class="header__list">Events <span class="header__list--hover"></span></li>
          <li class="header__list">Products <span class="header__list--hover"></span></li>
          <li class="header__list">Support <span class="header__list--hover"></span></li>
        </ul>
      </nav>
      <div class="header__tagline">Immersive experiences that deliver</div>
    </div>
  </header>

  <main id="main"></main>

  <footer id="footer"></footer>


  The leader in interactive VR

  Founded in 2011, Loopstudios has been producing world-class virtual reality 
  projects for some of the best companies around the globe. Our award-winning 
  creations have transformed businesses through digital experiences that bind 
  to their brand.

  Our creations

  See all

  Deep earth
  Night arcade
  Soccer team VR
  The grid
  From up above VR
  Pocket borealis
  The curiosity
  Make it fisheye

  About
  Careers
  Events
  Products
  Support

  © 2021 Loopstudios. All rights reserved.

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io/challenges/loopstudios-landing-page-N88J5Onjw/hub/loopstudios-landing-page-T_7R-NdZk" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/tymino/frontendmentor-loopstudios-landing-page" target="_blank">tymino</a>.
  </div>
</body>
</html>
